*{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    -webkit-text-size-adjust: none !important;
    outline: none !important;
}
html{
	font-size: 16px;
	-webkit-user-select:none;
	user-select:none;	
}
a,img{
	-webkit-touch-callout: none;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
body{
	-webkit-font-smoothing: antialiased;
	background: #F1F1F1;
	font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	font-size: 0.95rem;
	line-height:0.95rem;
	color: #333;
	margin: 0 auto;
}

header {
	height: auto;
	width: 100%;
}

footer{
	width: 100%;
}
.iphone_header_fixed,.android_header_fixed {
	z-index: 50;
	position: fixed;
	overflow: hidden;
	padding-bottom: 5px;
}
.content {
	padding: 0px;
	width: 100%;
}
.iphone_content_fixed,.android_content_fixed {
	position: relative;
	-webkit-overflow-scrolling: touch;
}
.iphone_footer_fixed,.android_footer_fixed {
	position: relative;
}

.scroller {
	width: 100%;
}

.logo_title {
	height: 40px;
	background-image: url('images/icbc_logo2.png'), -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F5F5F5));
	background-repeat: no-repeat, no-repeat;
	background-size: 83px 27px, 100% 100%;
	background-position: 8px center, left top;
}

nav {
	display: block;
	text-align: center;
	height: 48px;
	color: white;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #B00009;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c7000a),to(#c7000a));
}

.nav_title {
	display: block;
	font-size: 1.1rem;
	overflow: hidden;
	white-space: nowrap;
	line-height: 49px;
	text-overflow:ellipsis;
	width: 60%;
	margin: 0 auto;	
}

.nav_left_btn {
	float: left;
	position: absolute;
	border-width: 9px 5px 9px 7px;
	border-color: transparent;
	background: url('images/navbar_btn_arrow.png') 0px -5px no-repeat;
	background-size:14px 24px;
	line-height: 16px;
	font-size: 16px;
	color: #ffffff;
	padding: 0 4px 0 18px;
	top: 5px;
	left: 0px;
	min-height:30px;
}

.nav_left_btn_click {
	opacity:0.5;
}

.nav_right_btn {
	float: right;
	position: absolute;
	border-width: 9px 4px 9px 3px;
	border-color: transparent;
	background: transparent;
	line-height: 16px;
	font-size: 16px;
	color: #ffffff;
	padding: 0 2px 0 2px;
	top: 5px;
	right: 0px;
	min-width: 52px;
	min-height:30px;
}

.nav_right_btn_click {
	opacity:0.5;
}

.nav_share_btn {
	float: right;
	position: absolute;
	border:none;
	height:38px;
	width:45px;
	display:block;
	background: url('images/share_btn.png') center no-repeat;
	background-size:22px 26px;
	top: 5px;
	right: 5px;
}
.nav_share_btn2 {
	height:38px;
	width:38px;
	vertical-align:middle;
	border:none;
	background: url('images/share_btn.png') center no-repeat;
	background-size:22px 26px;
}
.nav_filter_btn {
	float: right;
	position: absolute;
	border-width: 9px 4px 9px 3px;
	border-color: transparent;
	background: transparent;
	line-height: 16px;
	font-size: 16px;
	color: #ffffff;
	padding: 0 2px 0 2px;
	top: 5px;
	right: 2px;
	min-width: 52px;
	min-height:30px;
}
.nav_filter_btn:before{
	content: "";
	background-image: url('images/filter_icon.png') ;
	background-position:left center;
	background-repeat: no-repeat;
	background-size: 15px;	
	display: inline;
	padding-left:20px;	
}

.nav_share_btn_click,.nav_share_btn2_click,.nav_filter_btn_click {
	opacity:0.5;
}

.nav_right_menu_btn{
	background: url("images/navbar_menu_icon.png") center no-repeat;
	background-size:contain;
	float: right;
	position: absolute;
	border: none;
	color: #ffffff;
	top: 12px;
	right: 6px;
	width: 23px;
	height: 23px;
}
.nav_right_menu_btn_click{
	opacity:0.5;
}

.header_tabbar {
	height: 35px;
	display: -webkit-box;
	-webkit-box-sizing: content-box;
	padding: 0 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#c7000b), to(#c7000b));
	border-color: #cda1a3 rgba(255, 255, 255, 0) #fafafa rgba(255, 255, 255, 0);
	border-style: solid;
	border-width: 1px 0 4px 0;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.header_tabbar_btn {
	color:#fff;
	text-align: center;
	-webkit-box-flex: 1;
	display: block;
	margin-top: 5px;
	height: 35px;
	font-size: 15px;
	line-height: 32px;
	background: transparent;
	border-width: 0px;
	text-align: center;
}

.header_tabbar_btn_active {
	color: #C7000B;
	-webkit-box-flex:1.5;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa));
	border-bottom: 1px solid #E9EBEE;
	display: block;
	font-size: 15px;
	margin-top: 8px;
	height: 27px;
	text-align: center;
	padding: 0px;
	border: 0px;
}
.select_type_tabbar {
	height: 35px;
	display: -webkit-box;
	-webkit-box-sizing:content-box;
	padding: 0px;
	background: #f1f1f2;
	border-color: #ccc;
	border-style: solid;
	border-width: 0px 0 1px 0;
	font-size: 15px;
}
.select_type_tabbar_btn {
	color:#333;
	text-align: center;
	-webkit-box-flex: 1;
	display: block;
	height: 35px;
	line-height: 35px;
	background: transparent;
	border-width: 0px;
	text-align: center;
	margin: 0px;
}
.select_type_tabbar_btn_active {
	color:#333;
	text-align: center;
	-webkit-box-flex: 1;
	display: block;
	height: 35px;
	line-height: 35px;
	background: transparent;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom: 3px solid #F8504E;
	text-align: center;
	margin: 0px;
}
.header_select{
	min-height:38px;
	max-height:38px;
	border-color: #cda1a3 rgba(255, 255, 255, 0) #c0c0c0 rgba(255, 255, 255, 0);
	border-style: solid;
	border-width: 1px 0 1px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#c7000b), to(#c7000b));
	overflow: hidden;
	padding:2px 5px;
	line-height:38px;
	position:relative;
	font-size: 0.95rem;
	line-height: 0.95rem;		
}
.header_select h2{
	color: white;
	display: block;
	font-size: 1rem;
	height: auto;
	line-height: 32px;
	text-align: center;
	width: 100%;
}
.header_select .header_select_left_btn{
	color: white;
	display: block;
	font-size: 1.1rem;
	font-weight: bold;
	height: 25px;
	left: 12px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	line-height: 25px;
	top: 4px;
	width: 55px;
	-webkit-appearance: none;
	border:0;
	border-radius:0px;
	background:transparent;
}
.header_select .header_select_right_btn{
	color: white;
	display: block;
	font-size: 1.1rem;
	font-weight: bold;
	height: 25px;
	right: 12px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	line-height: 25px;
	top: 4px;
	width: 55px;
	-webkit-appearance: none;
	border:0;
	border-radius:0px;
	background:transparent;
}
.header_select_left_btn_click,.header_select_right_btn_click{
	background:rgba(0,0,0,0.3) !important;
}

.header_tip{
	min-height:45px;
	max-height:45px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#F3F3F3));
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 0 0 1px 0;	
	overflow: hidden;
	padding:2px 5px;
	line-height:40px;
	position:relative;
	font-size: 0.9rem;
	line-height: 0.9rem;	
}
.header_tip ul{
	list-style-type: none;
	height:40px;
}
.header_tip_left{
	display: block;
	position: relative;
	float: left;
	width: auto;
	text-align: left;
}
.header_tip_center{
	height: auto;
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
}
.header_tip_right{
	display: block;
	position: relative;
	float: right;
	width: auto;
	text-align: right;
}
.header_tip li:first-of-type {
	margin-top: 4px;
}
.header_tip li:last-child {
	margin-top: 6px;
}
.header_tip li:only-child {
	margin-top: 15px;
}
.section_padding {
	padding: 5px 0px 8px 0px;
}

.section_title {
	color: #858383;
	font-size: 0.9rem;
	margin: 0 0 5px 5px;
	padding-left:4px;
}

.cell_container li {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	word-break: break-all;
	line-height: 24px;
	width: auto;
	padding: 8px 12px 8px 12px;
	min-height: 48px;
	background: white;
	border: #CBCBCB solid;
	border-width: 1px 0px 0px 0px;
	color: #333;
	font-size: 0.9rem;
}

.cell_container li:first-child {
	border-width: 1px 0px 0px 0px;
}
.cell_container_li_first{
	border-width: 1px 0px 0px 0px !important;
}
.cell_container li:last-child{
	border-width: 1px 0px 1px 0px;
}
.cell_container_li_last{
	border-width: 1px 0px 1px 0px !important;
}
.cell_container li:only-child{
	border-radius: 0px;
	border-width: 1px 0px 1px 0px;
}
.cell_container_li_only {
	border-radius: 0px !important;
	border-width: 1px 0px 1px 0px !important;
}
.cell_container .cell_li_left {
	padding-left:5px;
	-webkit-box-flex: 1;
	float: left;
	text-align: left;
	position: relative;
	line-height: 20px;
	max-width: 80%;
	font-size: 0.9rem;
}

.cell_container .cell_li_top{
	line-height: 15px;
	margin-top: -5px;
}
.cell_container .cell_li_bottom{
	line-height: 15px;
	margin: 2px 0px -5px 0px;
}

.cell_container .cell_li_right {
	-webkit-box-flex: 1;
	float: right;
	text-align: right;
	position: relative;
	line-height: 20px;
	max-width: 80%;
	font-size: 0.9rem;
}
.cell_li_txt{
	line-height: 18px;	
}

.cell_container .cell_li_btn {
	padding: 8px 20px 8px 12px;
	background-image: url('images/arrow_right.png');
	background-size:15px 12px;
	background-repeat: no-repeat;
	background-position: right center;
}

.cell_container .cell_li_btn_click {
	color: white;
	padding: 8px 20px 8px 12px;
	background-image: url('images/arrow_right_click.png'), -webkit-gradient(linear, left top, left bottom, from(#058BF5), to(#058BF5));
	background-repeat: no-repeat, no-repeat;
	background-position: right center, left top;
	background-size:15px 12px,100% 100%;
}

.cell_container .cell_flex,.cell_container .cell_li_flex {
	-webkit-box-flex: 1;
	vertical-align: middle;
}

.cell_container .cell_li_left_arrow_btn{
	background: url('images/arrow_left.png'),url('images/arrow_right.png'),white;
	background-repeat: no-repeat,no-repeat;
	background-position: 8px center,right center;
	background-size:15px 11px,15px 12px;
	padding-left: 30px;
}
.cell_container .cell_li_left_arrow{
	background: url('images/arrow_left.png'),white;
	background-repeat: no-repeat,no-repeat;
	background-position: 8px center,right center;
	background-size:15px 11px,15px 12px;
	padding-left: 30px;
}
.cell_container .cell_li_left_arrow_btn_click{
	background: url('images/arrow_left_click.png'),url('images/arrow_right_click.png'),-webkit-gradient(linear, left top, left bottom, from(#058BF5), to(#058BF5));
	background-repeat: no-repeat,no-repeat;
	background-position: 8px center,right center,left top;
	background-size:15px 11px,15px 12px,100% 100%;
	padding-left: 30px;
	color: white;
}

.detail_table {
	width: 100%;
	text-indent: 0rem;
	border-collapse: separate;
	border-spacing:2px;
}

.detail_table tr {
	word-break: break-all;
	border: 0px;
	color: #333;
	font-size: 0.95rem;
}

.detail_table td {
	line-height: 18px;
	vertical-align: baseline;
}

.detail_table .detail_td_left {
	text-align: right;
	width: 34%;
	color: #848484;
	font-weight: normal;
	vertical-align: middle;
}
.detail_table .detail_td_left1 {
	text-align: right;
	width: 40%;
	color: #848484;
	font-weight: normal;
	vertical-align: middle;
}
.detail_table .detail_td_center {
	text-align: center;
	color: #848484;
	width: 1%;
	font-weight: normal;
	vertical-align: middle;
	word-break:break-all;
}

.detail_table .detail_td_right {
	text-align: left;
	width: 65%;
	font-weight: normal;
	vertical-align: middle;
	word-break:break-all;
}
.detail_table .detail_td_right1 {
	text-align: left;
	width: 59%;
	font-weight: normal;
	vertical-align: middle;
	word-break:break-all;
}
.detail_table .detail_td_single{
	text-align: center;
}

.detail_table .detail_td_line {
	border-top: 1px #ccc dashed;
	width: 100%;
	height: 1px;
}

.detail_table .order_td_left {
	width: 35% !important;
}

.detail_table .order_td_right {
	width: 65% !important;
}

.reminder_container {

	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-all;
	line-height: 20px;
	width: auto;
	padding: 5px 8px;
	margin:0px 0px 0px 6px;
	min-height: 32px;	
	font-size: 0.9em;	
	color: #916034;
	'box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	font-weight: normal;
}

.reminder_title {
	font-size: 0.95rem;
	font-weight: normal;
	line-height: 1.35rem;
	color: #333;
}

.reminder_container ul {
	list-style-type: none;
	font-size: 0.95rem;
}

.reminder_container .reminder_ul_number {
	list-style-type: decimal;
	list-style-position: outside;
	padding-left: 18px;
	color: #858383;
}

.reminder_container .reminder_ul_circle {
	list-style-type: circle;
	list-style-position: outside;
	padding-left: 18px;
}

.reminder_container li {
	line-height: 18px;
}

.section_datatable{
	padding: 0;
	font-weight: normal;
}
.datatable,.expand_datatable,.datatable_card_style{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.datatable thead tr:first-child{
	text-align:left;
	font-size:0.9rem;	
	font-weight: normal;
	height:22px;
	line-height:22px;
	color:#fff;
	padding:0 5px;
	background-color: #58595B;
}
.datatable thead tr:nth-child(2){
	font-size:0.9rem;	
	height:22px;
	line-height:22px;
	color:#58595b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa),to(#fafafa));
	border-bottom: 1px #aaa solid;
}
.datatable_title_style1{
	background: #E1E1E1 !important;
	color:#333 !important;
	height: 30px !important;
	border-bottom: 1px #ccc solid !important;
}
.datatable thead tr th{
	padding:2px 5px 0px 5px;
	font-weight: normal;
	line-height: 15px;
}
.datatable tbody tr{
	height: 45px;
	background: white;
	border-bottom:1px #ddd solid;
	font-size: 0.9rem;
	line-height: 1.1rem;
}
.datatable_card_style tbody tr{
	height: 45px;
	background: #F1F1F2;
	border-bottom:0px;
}
.datatable_tbody_style1 tr{
	background: #F1F1F2 !important;
}
.datatable tbody tr:nth-child(odd){
	background: #F1F1F2;
}
.datatable tbody tr td{
	padding: 2px 5px;
	word-break:break-all;
}
.datatable tbody tr td:last-child,.datatable thead tr th:last-child{
	padding-right:13px !important;
}
.datatable tfoot tr td,.expand_datatable tfoot tr td,.datatable_card_style tfoot tr td{
	font-size:0.9rem;	
	height:45px;
	line-height:22px;
	color:#58595b;
	text-align:center;
	background:#fff;
	border-bottom: 1px #ddd solid;
}
.datatable_more_btn_click{
	background: #ddd !important;
}
.datatable_btn{
	background: url('images/arrow_right1.png') no-repeat right center;
	background-size:12px 12px;
}
.datatable_btn_click{
	background: -webkit-gradient(linear, left top, left bottom, from(#058BF5), to(#058BF5)) !important;
	color:white !important;
}
.datatable_btn_click2{
	background: url('images/arrow_right1_click.png') no-repeat right center;
	background-size:12px 12px;
}
.expand_datatable tbody .expand_datatable_tr:nth-child(odd){
	background: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#F1F1F1));
	height: 45px;
	border-bottom:1px #999 solid;
}
.expand_datatable_tr_click{
	background: -webkit-gradient(linear, left top, left bottom, from(#C5C5C5), to(#C5C5C5)) !important;
}
.expand_datatable tbody .expand_datatable_tr:nth-child(even){
	display: block;
	padding:0px 5px 5px 5px;
}
.expand_datatable tbody .expand_datatable_tr:nth-child(odd)>td{
	padding:5px 20px 5px 5px;
	background-image: url('images/arrow_down.png');
	background-size: 17px 12px;
	background-repeat: no-repeat;
	background-position: right center;
}
.expand_datatable tbody .expand_datatable_tr:nth-child(even)>td{
	display: block;
	background: #fff;
	border-left:1px #999 solid;
	border-right:1px #999 solid;
	border-bottom:1px #999 solid;
	min-height: 50px;
	padding: 5px 5px 10px 5px;
}
.expand_datatable_tr_arrow_up{
	background-image: url('images/arrow_up.png') !important;
	background-size: 17px 12px !important;
	background-repeat: no-repeat !important;
	background-position: right center !important;
}
.expand_datatable_button_container{
	width: 50%;
	margin: 15px auto 0px auto;
	display: -webkit-box;
}
.datatable_card_container,.datatable_card_container_btn{
	margin: 5px 10px;
	background: #ffffff;
	border: 1px #D9D9D9 solid;
	border-radius:0px;
	min-height: 50px;
	width: auto;
	padding: 5px;	
	position: relative;
}
.datatable_card_container_btn_click{
	opacity:0.5;	
}
.card_sale_logo{
	background: url("images/sale_logo_icon.png") right bottom no-repeat;
	background-size:30px;
	display: block;
	position: absolute;
	right: 0.5px;
	bottom: 0.5px;
	line-height:25px;
	text-align:right;
	color:white;
	width: 30px;
	height: 30px;
	position: absolute;
	font-size: 0.9rem;
}
label{
	font-weight: normal;
	margin: 0;
}
input,button,select{
	line-height: normal;
}
input[type=text],input[type=number],input[type=tel],input[type=password] {
	border: 0px;
	text-align: right;
	background: transparent;
	height:28px;
	color:#485E9C;
	vertical-align: middle;
	font-size:0.9rem;
	line-height: normal;
}
::-webkit-input-placeholder,.placeholder {
	color: #aaa;
	direction: rtl;
}

input[type=checkbox],.checkbox{
	width:25px;
	height:25px;
	content:url("images/checkbox.png");
	-webkit-appearance: none;
	appearance:none;
	border: 0px solid #aaa;
	border-radius:0px;
	background: transparent;
	vertical-align: middle;
	margin: 0px;
}
input[type=checkbox]:checked,.checkbox:checked {
	width:25px;
	height:25px;
	content:url("images/checkbox_selected.png");
	-webkit-appearance: none;
	appearance:none;
	border: 0px solid #aaa;
	border-radius:0px;
	background: transparent;
	vertical-align: middle;
	margin: 0px;
}

input[type=radio] {
	width: 22px;
	height: 22px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/radio.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

input[type=radio]:checked {
	width: 22px;
	height: 22px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/radio_checked.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

select {
	border-width: 0px;
	padding: 0px;
	min-width: 90px;
	max-width: 270px;
	height: 28px;
	text-align: right;
	background-color: transparent;
	-webkit-appearance: none;
	direction: rtl;
	color:#485E9C;
	vertical-align: middle;
	font-size:0.9rem;
}
.selectpanel{
	text-align: right;
	background-color: transparent;
	color:#485E9C;
	vertical-align: middle;	
}
.switch_button {
	position:relative;
	width: 75px;
	float:right;
	-webkit-user-select:none;
}

.switch_button_checkbox {
	display: none !important;
}

.switch_button_label {
	display: block; overflow: hidden; cursor: pointer;
	border: 1px solid #999; border-radius: 5px;
}

.switch_button_inner {
	width: 200%; margin-left: -100%;
	-webkit-transition: margin 0.2s ease-in 0s;
}

.switch_button_inner:before, .switch_button_inner:after {
	float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
	font-size:0.95rem; color: white;
	-webkit-box-sizing: border-box; box-sizing: border-box;
	border-radius: 5px;
}
.switch_text1:before{
	content: "å¼€" !important;
	padding-right:43px !important;
}
.switch_text1:after{
	content: "å…? !important;
}
.switch_text2:before{
	content: "å¼€é€? !important;
	padding-right: 38px !important;
}
.switch_text2:after{
	content: "å…³é—­" !important;
}
.switch_text3:before{
	content: "æ˜? !important;
	padding-right:43px !important;
}
.switch_text3:after{
	content: "å? !important;
}
.switch_button_inner:before {
	content: "";
	padding-right: 35px;
	background-color: #53d769; color: #FFF;
	border-radius: 0px 0 0 0px;
}

.switch_button_inner:after {
	content: "";
	padding-right: 13px;
	background-color: #FFF; color: #999;
	text-align: right;
	border-radius: 0 5px 5px 0;
}

.new_switch_button{
	width: 46px!important;
	
}
.switch_button_switch {
	width: 25px; margin: 0px;
	background: #FFF;
	border: 1px solid #999; border-radius: 5px;
	position: absolute; top: 0; bottom: 0; right: 48px;
	 -webkit-transition: all 0.2s ease-in 0s;
}

.switch_button_checkbox:checked + .switch_button_label .switch_button_inner {
	margin-left: 0;
}

.switch_button_checkbox:checked + .switch_button_label .switch_button_switch {
	right: 0px;
}

.button_container {
	display: -webkit-box;
	-webkit-box-align: center;
	width: 100%;
	-webkit-box-orient: horizontal;
}
.button_more_container {
	display: -webkit-box;
	-webkit-box-align: center;
	width: 100%;
	-webkit-box-orient: horizontal;
}
.button_line_container{
	width: 100%;
	margin: 5px 0;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.orange_btn:disabled ,.red_btn:disabled ,.normal_btn:disabled ,.gray_btn:disabled {
	-webkit-box-flex: 1;
	font-size: 0.95rem;
	color: #fff;
	background: #CCCCCC;
	border:1px #CCCCCC solid;
	border-radius:2px;
	-webkit-appearance: none;
	padding: 0px 2px;
	margin: 0px 5px;
	display: block;	
	-webkit-filter:contrast(0.9);
}
.blue_btn,.normal_btn {
	-webkit-box-flex: 1;
	font-size: 0.95rem;
	color: white;
	background: #63AACF;
	border:1px #63AACF solid;
	border-radius:2px;
	-webkit-appearance: none;
	padding: 0px 2px;
	margin: 0px 5px;
	display: block;
	min-height:40px; 
}
.blue_btn_click,.normal_btn_click {
	border:1px #488BBD solid;
	background: #488BBD;
}
.red_btn {
	-webkit-box-flex: 1;
	font-size: 0.95rem;
	color: white;
	background: #DB443C;
	border:1px #DB443C solid;
	border-radius:2px;
	-webkit-appearance: none;
	padding: 0px 2px;
	margin: 0px 5px;
	display: block;
	min-height:40px; 
}
.red_btn_click {
	background: #CC2F26;
}
.orange_btn {
	-webkit-box-flex: 1;
	font-size: 0.95rem;
	color: white;
	background: #FF9460;
	border:1px #FF9460 solid;
	border-radius:2px;
	-webkit-appearance: none;
	padding: 0px 2px;
	margin: 0px 5px;
	display: block;
	min-height:40px;
}
.orange_btn_click {
	background: #FF8042;
}
.gray_btn {
	-webkit-box-flex: 1;
	font-size: 0.95rem;
	color: #fff;
	background: #aaaaaa;
	border:1px #aaaaaa solid;
	border-radius:2px;
	-webkit-appearance: none;
	padding: 0px 2px;
	margin: 0px 5px;
	display: block;
	min-height:40px;
}
.gray_btn_click {
	background: #999;
}
.gray_small_btn{
	-webkit-box-flex: 1;
	font-size: 0.95em;
	color: #333;
	background: #E7E8E9;
	border:1px #BBBBBB solid;
	border-radius:0px;
	-webkit-appearance: none;
	padding: 0px 5px;
	margin: 0px 5px;
	display:inline-block;	
	min-height: 26px;
}
.gray_small_btn_click {
	background: #A7A9AC;
}
.gray_small_btn:disabled{
	color: #888888;
	background: #D2D3D5;
	border:1px #C0C2C5 solid;
	border-radius:0px;
}
.info_btn {
	width: 20px;
	height: 20px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/info_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;
}
.info_btn_click {
	opacity:0.5;
}
.blue_arrow_btn{
	width: 26px;
	height: 26px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/blue_arrow_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.blue_arrow_btn_click {
	opacity:0.5;
}
.green_add_btn{
	width: 26px;
	height: 26px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/green_add_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.green_add_btn_click {
	opacity:0.5;
}
.red_reduce_btn{
	width: 26px;
	height: 26px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/red_reduce_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.red_reduce_btn_click {
	opacity:0.5;
}
.wrong_btn{
	width: 26px;
	height: 26px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/wrong.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.wrong_btn_click {
	opacity:0.5;
}
.right_btn{
	width: 26px;
	height: 26px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/right.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.right_btn_click {
	opacity:0.5;
}
.try_btn{
	width: 35px;
	height: 30px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/try_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.try_btn_click {
	opacity:0.5;
}
.contact_btn{
	width: 35px;
	height: 30px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/contact_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.contact_btn_click {
	opacity:0.5;
}
.payee_btn{
	width: 35px;
	height: 30px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/payee_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.payee_btn_click {
	opacity:0.5;
}
.phone_btn{
	width: 30px;
	height: 30px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/phone_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.phone_btn_click {
	opacity:0.5;
}
.map_btn{
	width: 30px;
	height: 30px;
	-webkit-appearance: none;
	border-width: 0px;
	background: url("images/map_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.map_btn_click {
	opacity:0.5;
}
.info_container {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-all;
	line-height: 24px;
	width: auto;
	padding: 8px;
	min-height: 140px;
	background: white;
	border-top: #CBCBCB solid 1px;
	border-bottom: #CBCBCB solid 1px;
	border-radius: 0px;
}

.info_container h3 {
	min-height: 85px;
	width: 100%;
	color: #30609B;
	margin-bottom: 15px;
	font-weight: bold;
}

.info_container .info_success {
	background-image: url('images/info_success.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.info_container .info_error {
	background-image: url('images/info_error.png');
	background-repeat: no-repeat;
	background-position: center;
}

.info_container .info_tip {
	background-image: url('images/info_tip.png');
	background-repeat: no-repeat;
	background-position: center;
}

.info_container .info_wait {
	background-image: url('images/info_wait.png');
	background-repeat: no-repeat;
	background-position: center;
}
.info_container .info_logo{
	text-align: center;
}
.info_container .info_tip_logo {
	background-image: url('images/info_tip_logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:100px;
	line-height: 80px;
	margin: 8px auto;
	width: auto;
	display: inline-block;
	font-size: 1.4rem;
}
.info_container .info_error_logo {
	background-image: url('images/info_error_logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:100px;
	line-height: 80px;
	margin: 8px auto;
	width: auto;
	display: inline-block;
	font-size: 1.4rem;
}
.info_container .info_success_logo {
	background-image: url('images/info_success_logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:100px;
	line-height: 80px;
	margin: 8px auto;
	width: auto;
	display: inline-block;
	font-size: 1.4rem;
}

.info_container ul {
	list-style-type: none;
	font-size: 0.95rem;
	padding: 0 10px;
	margin-top:10px;
	margin-bottom: 5px;
}

.info_container li {
	line-height: 20px;
	text-indent: 0rem;
	font-weight: normal;
	text-indent: 0rem;
}

.agreement_title {
	height: 41px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#F3F3F3));
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 0 0 1px 0;
	padding: 0;
	position: relative;
	text-align: center;
	line-height: 41px;
	overflow: hidden;
}
.agreement_split_line{
	border-top: 1px #AAA dotted;
	line-height: 1px;
	margin: 5px 0;
}
.agreement_container {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-break: break-all;
	line-height: 24px;
	width: auto;
	padding: 8px;
	min-height: 32px;
	background: white;
	color: #333;
}
.agreement_container li{
	list-style: none;
}
.search_bar{
	min-height:45px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DEDEDE), to(#DEDEDE));
	border-bottom:1px #ccc solid;
	overflow: hidden;
	padding:2px 6px 2px 6px;
	line-height:35px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;	
}
.search_bar .gray_small_btn{
	font-size:0.9rem;
	padding: 0;
	margin-left: 5px;
	margin-right:0px;
	min-width: 50px;
}
.search_bar_input{
	display:block !important;
	-webkit-box-flex:1 !important;
	border-radius: 5px !important;
	font-size:0.95em !important;
	border:1px solid #b3b3b3 !important;
	text-align:left !important;
	background:#ffffff !important;
	height:25px !important;
	overflow:hidden !important;
	padding:0px 5px !important;
	direction: ltr !important;
}
.search_bar_input::-webkit-input-placeholder {
	color: #aaa !important;
	font-size: 0.95rem !important;
	direction: ltr !important;
}
.nav_search_bar{
	background: #fff;
	border: 1px solid #EEE;
	margin:10px auto;
	min-height: 28px;
	width: 62%;
	border-radius:5px;
	position:relative;
	left: 7px;
	padding: 0px 2px 0px 5px;
	display: inline-block;
}
.nav_search_bar_input{
	font-size:0.9rem; 
	text-align: left !important;
	float: left;
	width: 75%;
}
.nav_search_bar_btn{
	font-size: 0.95rem;
	color: #333;
	background: #E7E8E9;
	border: 1px #BBBBBB solid;
	border-radius: 5px;
	-webkit-appearance: none;
	padding: 0px 5px;
	margin: 0px;
	display: inline-block;
	min-height: 26px;
	margin-top:1px;
	float: right;
}
.nav_search_bar_btn_click{
	opacity:0.5;
}
.popselectpanel_container{
	position: absolute;
	top:0;
	left:0;
	z-index:60;
}
.popbtnpanel_container{
	display: none;
}
.popbtnpanel_inside{
	padding:10px 10px;
}
.popbtnpanel_mask{
	background: rgba(0, 0, 0, .2);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
}
.popbtnpanel_content{
    position: absolute;
    width: 100%;
    border-top: 1px solid #ccc;
    z-index: 99;
    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(125,129,137,0.9)), to(rgba(125,129,137,0.9)));
	background-repeat:no-repeat,no-repeat;
	background-position:left top,left 28px;
}
.popbtnpanel_btn_content{
	height:38px;
	padding:1px;
	margin:15px 0px;
}
.popbtnpanel_btn{
	border:1px solid #666;
	text-align:center;
	line-height:36px;
	height:36px;
	border-radius: 4px;
	font-size:1.2rem;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#f1f1f2),to(#f1f1f2));
}
.popbtnpanel_btn_click{
	color:white;
	line-height:36px;
	height:36px;
	text-align:center;
	border-radius: 4px;	
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#c0c1c4),to(#c0c1c4));	
}
.popbtnpanel_close_btn{
	color:white;
	border:1px solid #555;
	text-align:center;
	line-height:36px;
	height:36px;
	border-radius: 4px;
	font-size:1.2rem;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#63686f),to(#63686f));
}
.popbtnpanel_close_btn_click{
	line-height:36px;
	height:36px;
	border-top:1px solid #63686f;
	border-bottom:1px solid #63686f;
	text-align:center;
	border-radius: 4px;	
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#414750),to(#414750));
}
.dialog_container {
	display: none;
}

.dialog_mask {
	'background: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.dialog_content {
	position: absolute;
	z-index: 101;
	display: block;
	padding: 10px 10px 15px 10px;
	border-radius: 4px;
	border:#666 solid 1px;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.9);
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#F0F0F0));
	min-height: 30px;
	color: #333;
	margin: 0 15px 4px 15px;
}

.dialog_content h3 {
	text-align: center;
	font-size: 1.1rem;
	margin: 3px 0px;
}

.dialog_tip {
	text-indent: 2rem;
	margin: 18px 0;
	word-break: break-all;
	line-height: 19px;
}
.purple_middle_icon:before{
	content:"";
	background: url("images/purple_middle.png") left center no-repeat;
	background-size:15px 13px;
	display: inline;
	padding-left:18px;	
}
.green_down_icon:before{
	content:"";
	background: url("images/green_down.png") left center no-repeat;
	background-size:15px 13px;
	display: inline;
	padding-left:18px;	
}
.red_up_icon:before{
	content:"";
	background: url("images/red_up.png") left center no-repeat;
	background-size:15px 13px;
	display: inline;
	padding-left:18px;	
}
.recommend_icon:after{
	content:"";
	background: url("images/recommend_icon.png") left center no-repeat;
	background-size:23px 23px;
	display: inline;
	padding-left:23px;	
}
.new_icon:after{
	content:"";
	background: url("images/new.png") left center no-repeat;
	background-size:23px 23px;
	display: inline;
	padding-left:23px;	
}
.private_icon:after{
	content:"";
	background: url("images/private_icon.png") left center no-repeat;
	background-size:23px 23px;
	display: inline;
	padding-left:23px;	
}
.dynapass_img{
	vertical-align: middle;
	margin-left: 3px;
}
.certpass_txt{
	line-height:20px;
	vertical-align:middle;
	text-indent: 2rem;
	width: 100%;
}
.certpass_txt img{
	display: block;
	margin: 5px auto;
	max-width: 100%;
}
.shakeLoadMore{
	color:#848484;
	font-size:0.85rem;
}
.guide_bar{
	min-height: 55px;
	display: table;
	width: 100%;
	background: url("images/guide_solid_bg.png") repeat-x 0px 22px,url('images/body_background2.png') repeat;
}
.guide_info{
	padding: 8px 8px 0px 8px;
	display: table-cell;
	vertical-align: top;
}
.guide_icon{
	width: 30px;
	height: 30px;
	background-color: #FAFAFA;
	border-radius:30px;
	border:1px #999 solid;
	margin:0 auto;
	text-align: center;
	line-height: 27px;
	color: #333;
	font-size: 1rem;
}
.guide_icon_current{
	width: 30px;
	height: 30px;
	background-color: #c7000b;
	border-radius:26px;
	border:1px #999 solid;
	margin:0 auto;
	text-align: center;
	line-height: 27px;
	color: white;
	font-size: 1rem;
}
.guide_tip{
	margin: 0 auto;
	font-size: 0.9rem;
	text-align: center;
	line-height: 1.5rem;
}
.new_guide_bar{
	min-height: 55px;
	display: table;
	width: 100%;
	background: url('images/body_background2.png') repeat;
}
.new_guide_info:first-child{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3B9DFD), to(#3B9DFD));
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size:50% 4px;
}
.new_guide_info:last-child{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3B9DFD), to(#3B9DFD));
	background-repeat: no-repeat;
	background-position: 0% center;
	background-size:50% 4px;
}
.new_guide_info{
	padding: 14px 0px 8px 0px;
	display: table-cell;
	vertical-align: top;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3B9DFD), to(#3B9DFD));
	background-repeat: no-repeat;
	background-position: center;
	background-size:100% 4px;
}
.new_guide_info .new_guide_icon{
	width: 28px;
	height: 28px;
	background-color: #3B9DFD;
	border-radius:28px;
	margin:0 auto;
	text-align: center;
	line-height: 28px;
	color: #fff;
	font-size: 1rem;
}
.new_guide_info_undo:first-child{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc));
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size:50% 4px;
}
.new_guide_info_undo:last-child{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc));
	background-repeat: no-repeat;
	background-position: 0% center;
	background-size:50% 4px;
}
.new_guide_info_undo{
	padding: 14px 0px 8px 0px;
	display: table-cell;
	vertical-align: top;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc));
	background-repeat: no-repeat;
	background-position: center;
	background-size:100% 4px;
}
.new_guide_info_undo .new_guide_icon{
	width: 28px;
	height: 28px;
	background-color: #ccc;
	border-radius:28px;
	margin:0 auto;
	text-align: center;
	line-height: 28px;
	color: #fff;
	font-size: 1rem;
}
.word_icon{
	background: url("images/word_icon.png") no-repeat 2px 3px;
	background-size:25px 25px;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}
.pdf_icon{
	background: url("images/pdf_icon.png") no-repeat 2px 3px;
	background-size:25px 25px;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}
.attach_icon{
	background: url("images/attach_icon.png") no-repeat 2px 3px;
	background-size:25px 25px;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}
.cell_li_authen_container{
	display: block;	
	padding:3px 8px !important;	
}
.cell_li_authen{
	display: block;
	width: 100%;
	vertical-align: middle;
}
.cell_li_authen div{
	float: left;
	width: 50%;
	margin: 4px 0px 4px 0px;
}
#authenQuotaInfoSection{
	display: none;
}
.date_tab{
	display:inline-block;
	-webkit-border-radius:10px;
	margin: 0 2px;
	font-size:0.9rem;
	padding:3px 4px;
	border:1px solid #c7000b;
	background-color: #c7000b;
	color:white;
}
.date_tab_click{
	border:1px solid #a9050d;
	background-color:  #a9050d; 
}
.date_tab_container{
	margin-bottom:3px;
	min-height:10px;
	width:100%;
	text-align:center;
}
.product_info{
	min-height: 100px;
	margin: 5px 2px -2px 2px;
	padding: 5px;
}
.product_info_click{
	opacity:0.8;
}
.product_info_btn1{
	background:-webkit-gradient(linear, left bottom, right top, from(#1BA1E2), to(#1FADF2));
}
.product_info_btn2{
	background:-webkit-gradient(linear, left bottom, right top, from(#008A00), to(#01A201));
}
.product_info_btn3{
	background:-webkit-gradient(linear, left bottom, right top, from(#E51400), to(#F81600));
}
.product_title{
	margin-top:4px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: white;
	font-weight:bold;
	font-size: 1.4rem;
	position: relative;
}
.product_logo1{
	background-image: url("images/directbank_product_logo1.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size:32px;
}
.product_logo2{
	background-image: url("images/directbank_product_logo2.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size:27px;
}
.product_logo3{
	background-image: url("images/directbank_product_logo3.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size:32px;
}
.product_logo4{
	background-image: url("images/directbank_product_logo4.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size:32px;
}
.product_logo5{
	background-image: url("images/directbank_product_logo5.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size:32px;
}
.product_logo6{
	background-image: url("images/directbank_product_logo6.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size:32px;
}
.product_logo7{
	background-image: url("images/directbank_product_logo7.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size:32px;
}
.product_logo8{
	background-image: url("images/directbank_product_logo8.png");
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size:32px;
}
.product_title_txt1{
	font-size: 0.6rem;
	position: absolute;
	margin: 0px 5px;
	bottom: -5px;
}
.product_info1{
	font-size: 1rem;
	text-align: center;
	color: white;
	height:25px;
	line-height: 25px;
	position:relative;
}
.product_info1_txt1{
	position: absolute;
	font-size: 1.5rem;
	margin: 0px 5px 0px 15px;
	bottom: 1px;
	color: #333;
}
.product_info1_txt2{
	position: absolute;
	font-size: 1.4rem;
	margin: 0px 5px;
	bottom: 1px;
	color: #333;
}
.product_info1_txt3{
	position: absolute;
	background: transparent;
	margin-top: -25px;
	right:10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border: 2px solid rgba(255,255,255,0.85);
	border-radius: 60px;
	font-size: 1.4rem;
	color: rgba(255,255,255,0.85);
}
.product_info2{
	height:30px;
	line-height:30px;
	font-size: 0.85rem;
	text-align: center;
	color: white;
}
.product_info3{
	height:48px;
	line-height:48px;
	font-size: 0.85rem;
	text-align: center;
	color: white;
}
.product_info3 div{
	height: 20px;
	line-height: 30px;
}
.product_info4{
	display: block;
	height: 30px;
	padding: 0px 10px;
	width: 85%;
	margin: 10px auto;
	line-height: 30px;
	color: white;
}
.product_info4_left{
	float: left;
}
.product_info4_right{
	float: right;
}
.up_after{
	padding-right: 5px;
}
.up_after:after{
	content:"";
	background: url("images/up_icon.png") left center no-repeat;
	background-size:14px;
	display: inline;
	padding-left:15px;	
}
.down_after{
	padding-right: 5px;
}
.down_after:after{
	content:"";
	background: url("images/down_icon.png") left center no-repeat;
	background-size:14px;
	display: inline;
	padding-left:15px;	
}
.link_style {color: #66CCFF;text-decoration: underline;}
.vl_mid {vertical-align: middle !important;}
.vl_top {vertical-align: top !important;}
.vl_bottom {vertical-align: bottom !important;}
.il {display: inline !important;}
.ilbl {display: inline-block !important;}
.flex_box {display: -webkit-box !important;}
.flex1 {-webkit-box-flex: 1 !important;}
.left_txt {text-align: left !important;}
.right_txt {text-align:right !important;}
.normal_txt {font-weight: normal !important;}
.bold_txt{font-weight: bold !important;}
.small_txt {font-size: 0.85rem !important;}
.large_txt {font-size: 1rem !important;}
.red_txt {color: #C7000B !important;}
.pink_txt {color:#FF7B7B !important;}
.green_txt {color: #009245 !important;}
.blue_txt {color: #66CCFF !important;}
.black_txt {color: #333 !important;}
.gray_txt {color: #848484 !important;}
.disable_txt {color: #aaa !important;}
.indent_txt {text-indent: 2rem !important;}
.no_indent_txt {text-indent: 0rem !important;}
.break_txt{word-break:break-all !important;}
.nowarp_txt{white-space:nowrap !important;}
.hide {	display: none !important;}


.nav_ptt {
	color: black;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F2F1),to(#F0F2F1));
	border-bottom: 1px solid #F0F2F1;
}

.nav_left_btn_ptt {
	background: url('images/navbar_btn_arrow_gray.png') 0px -5px no-repeat;
	color: black;
	float: left;
	position: absolute;
	border-width: 9px 5px 9px 7px;
	border-color: transparent;
	background-size:14px 24px;
	line-height: 16px;
	font-size: 16px;
	padding: 0 4px 0 18px;
	top: 5px;
	left: 0px;
	min-height:30px;
}

.nav_left_btn_ptt_click {
	background: url('images/navbar_btn_arrow_gray_press.png') 0px -5px no-repeat;
	color: black;
	background-size:14px 24px;
}

.nav_right_btn_ptt {
	color: black;
}

.nav_right_btn_ptt_click {
	color: black;
}
.nav_share_btn_ptt {
	float: right;
	position: absolute;
	border:none;
	height:38px;
	width:45px;
	display:block;
	background-size:22px 26px;
	top: 5px;
	right: 5px;
	background: url('images/share_btn_gray.png') center no-repeat;
}
.nav_share_btn_ptt_click{
	opacity:0.5;
}

.radio_small_btn{
	-webkit-box-flex: 1;
	font-size: 0.95rem;
	color: black;
	background: white;
	border:1px #ccc solid;
	border-radius:0px;
	-webkit-appearance: none;
	padding: 0px 5px;
	margin: 0px 5px;
	display:inline-block;	
	min-height: 26px;
	min-width:50px;
}

.radio_small_btn_checked{
	-webkit-box-flex: 1;
	font-size: 0.95rem;
	color: white;
	background: #c5000e;
	border:1px #c5000e solid;
	border-radius:0px;
	-webkit-appearance: none;
	padding: 0px 5px;
	margin: 0px 5px;
	display:inline-block;	
	min-height: 26px;
	min-width:50px;
}

.trade_price_box{
	width: 100%;
}
.trade_price_box div:nth-child(1) span{
	font-size:16px;
}
.trade_price_box div:nth-child(2){
	padding-top:10px; 
	padding-bottom:5px;
}
.trade_price_box div:nth-child(2) span:not(:last-of-type){
	color:#C30007; 
	font-size:32px; 
}
.trade_step_tips{
	color:#999999;
}
.redNum,.big_red{
	color:red;
	font-size:20px;
}

.bold_text{
	font-weight:bold;
}
.modal_wrapper{
	display: table;
	width: 100%;
	height: 100%;
	margin: 0px auto;
}
.modal-dialog{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0px;
}
.modal-header{
	min-height: 20px;
	text-align: center;	
	padding: 8px;
	font-size: 1.1rem;
	border: 0px;
}
.modal-content{
	margin: 0 15px;
}
.modal-body{
	padding: 5px 18px;
	font-size:0.95rem;
	line-height:1rem;
}
.modal-body-top{
	padding:5px 15px;
	font-size:0.85rem;
}
.modal-body-top .row{
	margin-bottom: 3px;
}
.modal-body-bottom{
	border-top: 1px dashed #e5e5e5;
	padding:5px 10px;
	margin-bottom: -5px;
	font-size:0.85rem;
}
.modal-footer{
	border:0px;
	padding: 0;
	text-align: center;
	display: -webkit-box;
}
.modal-btn{
	-webkit-box-flex:1;
	border-top:1px solid #e5e5e5;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	border-radius:0 0 5px 5px;
	font-size: 1.1rem;
	line-height:1.1rem;
	background: transparent;
	-webkit-appearance: none;
	padding: 5px;
	display: block;
	min-height:45px; 
	width:100%;
	color:#FF7B7B;
}
.modal-cancel-btn{
	-webkit-box-flex:1;
	border-top:1px solid #e5e5e5;
	border-bottom:0px;
	border-left:0px;
	border-right:1px solid #e5e5e5;
	border-radius:0 0 0 5px;
	font-size: 1.1rem;
	line-height:1.1rem;
	background: transparent;
	-webkit-appearance: none;
	padding: 5px;
	display: block;
	min-height:45px; 
	color:#FF7B7B;
}
.modal-ok-btn{
	-webkit-box-flex:1;
	border-top:1px solid #e5e5e5;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	border-radius:0 0 5px 0;
	font-size: 1.1rem;
	line-height:1.1rem;
	background: transparent;
	-webkit-appearance: none;
	padding: 5px;
	display: block;
	min-height:45px; 
	color:#FF7B7B;	
}
.modal-cancel-btn:active,.modal-btn:active,.modal-ok-btn:active{
	background: #FF7B7B;
	color:#fff;
}
.modal.fade .modal-dialog {
	opacity: 0;
	-webkit-transform: translate3d(0,0,0) scale(1.185);
	-webkit-transition-duration:300ms;
	-webkit-transition-property: -webkit-transform,opacity;	
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-delay: initial;
}
.modal.in .modal-dialog {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	-webkit-transition-duration:300ms;
	-webkit-transition-property: -webkit-transform,opacity;	
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-delay: initial;
}
.popbtnpanel_dialog .list-group-item{
	height: 45px;
	font-size:1rem;
	line-height: 25px;
	color: #607483;
}
.popbtnpanel_close_container{
	display: -webkit-box;
	width: 100%;
}
.popbtnpanel_close_btn{
	color:#FF7B7B;
	text-align:center;
	line-height:1rem;
	height:40px;
	border:0;
	border-radius: 4px;
	font-size:1rem;
	background: white;
	-webkit-box-flex:1;
	display: block;
}
.popbtnpanel_close_btn_click{
	background: #FF7B7B;
	color: white;
}
.datepicker_dialog{
	position: absolute;
	top:15%;
	left: 0;
	width: 100%;
}
.datepicker_dialog .datepicker-inline{
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	border: 1px solid #aaa;
	border-radius:6px;
	padding: 8px;
	width: 290px;
	line-height: 22px;
}
.datepicker_dialog .datepicker .table-condensed{
	width: 100%;
}
.datepicker_txt{
	display: inline-block;
	direction: rtl;	
	color:#C0CBCB;
}
.datepicker_datecolor{
	color:#607483 !important;
}

/*è‡ªå®šä¹‰button æ ·å¼ **/
.disabledButton
{
    display: inline-block;
    width: auto;
    margin-left:0px;
    margin-right: 0px;
    font-size: 13px;
    color:#b4cad2;
    text-align: center;
    opacity: .50;
}
.customButton
{
	border:none;
	background-color: Transparent;
}

/*tabé¢æ¿ åˆ‡æ¢ æ ·å¼ **/
.table_panel {
	background: #fff;line-height: 1.4;
}
.table_panel ul {
	text-align:center;
}
.table_panel ul li {
	float:left;display:block;
	cursor:pointer;
	width:50%;padding: 0.5rem;
	  background-color:#fff;
	  border:1px solid #E8E8E8;
}

.table_panel  .table_panel_tab_click {
	  border-top: 3px solid #CDD1d4!important;
	  border:1px solid #fff;
}
.table_panel  .table_panel_tab {
	  border-top: 3px solid #fff!important;
}
.table_panel ul li:active{
		opacity:0.5;
}

.orderinfo{
	width: 100%;	
	padding:16px 0px 10px 0px;
	background: url("images/b2cborder.png");
	background-repeat: repeat-x;
	background-size:19px 100px;
}