@-ms-viewport{
	width:auto !important;
}
html{
	font-size: 0.85rem;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
body{
	background: url('images/body_background_wp.jpg') repeat;
	font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	font-size: 0.95rem;
	line-height:0.95rem;
	color: #333;
	margin: 0 auto;
}

header {
	height: auto;
	width: 100%;
}

footer{
	width: 100%;
}
.stoptouchmove{
	-ms-touch-action:none;
}
.content {
	padding: 0px;
}

.scroller {
	width: 100%;
}

.logo_title {
	height: 40px;
	background-image: url('images/icbc_logo2.png');
	background-repeat: no-repeat;
	background-size: 83px 27px;
	background-position: 8px center;
}

nav {
	color: white;
	display: block;
	height: 100px;
	overflow: hidden;
	position: relative;
	width: 100%;		
}

.nav_title {
	color: #333333;
	display: block;
	font-size: 33px;
	height: auto;
	margin:15px 0 10px 10px;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
	width: 100%;	
	text-overflow:ellipsis;
}

.nav_left_btn {
	background:transparent;
	border-width: 0px;
	color: #333333;
	cursor: pointer;
	display: block;	
	font-size: 18px;
	height: 32px;
	left: 12px;
	top: 65px;
	position: absolute;
	text-align: center;
	text-decoration:none;
	line-height:29px;
	width:auto;
	min-width:45px;
	padding-top:2px;
}
.nav_left_btn:before{
	-ms-transform:rotate(-180deg);
	content:"";
	background: url("images/nav_arrow_wp.png") left center no-repeat;
	background-size:20px 20px;
	display: inline;
	line-height:20px;
	padding-left: 20px;
	margin-right: 5px;
	margin-left: -5px;
}
.nav_right_btn {
	background:transparent;
	border-width: 0px;
	color: #333333;
	cursor: pointer;
	display: block;	
	font-size: 18px;
	height: 32px;
	right: 12px;
	top: 65px;
	position: absolute;
	text-align: center;
	text-decoration:none;
	line-height:29px;
	width:auto;
	min-width:45px;
	padding-top:2px;
}
.nav_right_btn:after{
	content:"";
	background: url("images/nav_arrow_wp.png") left center no-repeat;
	background-size:20px 20px;
	display: inline;
	line-height:20px;
	padding-left: 20px;
	margin-right: -5px;
	margin-left: 5px;
}
.nav_share_btn {
	display: none;
}
.nav_share_btn2 {
	display: none;
}
.nav_filter_btn {
	background:transparent;
	border-width: 0px;
	color: #333333;
	cursor: pointer;
	display: block;	
	font-size: 18px;
	height: 32px;
	right: 12px;
	top: 65px;
	position: absolute;
	text-align: center;
	text-decoration:none;
	line-height:29px;
	width:auto;
	min-width:45px;
	padding-top:2px;
}
.nav_filter_btn:after{
	content:"";
	background: url("images/filter_icon2.png") left center no-repeat;
	background-size:18px;
	display: inline;
	line-height:20px;
	padding-left: 20px;
	margin-right: -5px;
	margin-left: 5px;
}
.header_tabbar {
	height: 35px;
	display: table;
	width:100%;
	background: rgba(255, 255, 255, 0.65);
	border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(0, 0, 0,0.15) rgba(255, 255, 255, 0);
	border-style: solid;
	border-width: 1px 0 4px 0;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.header_tabbar_btn {
	background: transparent;
	display:table-cell;
	text-align: center;
	padding: 0px;
	border: 0px;
	height:10px;
	font-size: 1rem;
	line-height: 32px;
	color:#555;
	border-color: rgba(255, 255, 255, 0);
	border-style: solid;
	border-width: 5px 5px 0 5px ;	
}
.header_tabbar_btn_active{
	background: rgba(0, 0, 0,0.15);
	display:table-cell;
	text-align: center;
	padding: 0px;
	border: 0px;
	font-size: 1rem;
	line-height: 32px;
	border-color: rgba(255, 255, 255,0.8);
	border-style: solid;
	border-width: 5px 5px 0 5px ;
}
.header_select{
	background-color:rgba(255,255,255,0.65);
	border-top:1px rgba(170,170,170,0.65) solid;
	border-bottom:1px rgba(170,170,170,0.65) solid;
	display: block;
	position: relative;
	width: 100%;
	padding:5px 0;	
	min-height:40px;
	max-height:40px;
	font-size: 0.95rem;
	line-height: 0.95rem;		
}
.select_type_tabbar_btn {
	background: transparent;
	display:table-cell;
	text-align: center;
	padding: 0px;
	border: 0px;
	height:10px;
	font-size: 15px;
	line-height: 32px;
	color:#666;
}
.select_type_tabbar_btn_active{
	background: transparent;
	display:table-cell;
	text-align: center;
	color:#666;
	padding: 0px;
	font-size: 15px;
	line-height: 32px;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom: 3px solid #F8504E;
}
.select_type_tabbar{
	background-color:rgba(241,241,242,0.65);
	border-bottom:1px rgba(170,170,170,0.65) solid;
	display: table;
	position: relative;
	width: 100%;
	padding:0px;	
	min-height:30px;
	max-height:30px;
	font-size: 0.95rem;
	line-height: 0.95rem;		
}
.header_select h2{
	color: #333;
	display: block;
	font-size: 1rem;
	height: auto;
	line-height: 32px;
	text-align: center;
	width: 100%;
}
.header_select .header_select_left_btn{
	color: #333;
	display: block;
	font-size: 1.1rem;
	font-weight: bold;
	height: 28px;
	left: 12px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	top: 6px;
	width: 55px;
	border:0;
	background:transparent;
}
.header_select .header_select_right_btn{
	color: #333;
	display: block;
	font-size: 1.1rem;
	font-weight: bold;
	height: 28px;
	right: 12px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	top: 6px;
	width: 55px;
	-ms-appearance: none;
	border:0;
	background:transparent;
	
}

.header_tip{
	background-color:rgba(255,255,255,0.65);
	min-height:45px;
	max-height:45px;
	padding:3px 0px;
	position: relative;
	overflow:hidden;
	border-top:1px rgba(170,170,170,0.65) solid;
	border-bottom:1px rgba(170,170,170,0.65) solid;
	font-size: 0.95rem;
	line-height: 0.95rem;	
}
.header_tip ul{
	list-style-type: none;
	height:40px;
}
.header_tip_left{
	display: block;
	position: relative;
	float: left;
	width: auto;
	text-align: left;
	left:5px;
}
.header_tip_center{
	height: auto;
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
}
.header_tip_right{
	display: block;
	position: relative;
	float: right;
	width: auto;
	text-align: right;
	right: 5px;
}
.header_tip li:first-of-type {
	margin-top: 4px;
}
.header_tip li:last-child {
	margin-top: 6px;
}
.header_tip li:only-child {
	margin-top: 15px;
}
.section_padding {
	padding: 5px 0 8px 0;
}

.section_title {
	color: rgb(76, 85, 108);
	font-size: 0.9rem;
	margin: 0 0 5px 5px;
}

.cell_container li {
	display: block;
	word-break: break-all;
	line-height: 32px;
	width: auto;
	padding: 8px 8px 8px 8px;
	min-height: 32px;
	background: rgba(255,255,255,0.65);
	border: rgba(170,170,170,0.65) solid;
	border-width: 1px 0 0 0;
	color: #333;
	font-size: 0.9rem;
	overflow: hidden;
}

.cell_container li:first-child {
	border-width: 1px 0 0 0;
}
.cell_container_li_first{
	border-width: 1px 0 0 0 !important;
}
.cell_container li:last-child {
	border-width: 1px 0 1px 0;
}
.cell_container_li_last{
	border-width: 1px 0 1px 0 !important;
}
.cell_container li:only-child {
	border-width: 1px 0 1px 0;
}
.cell_container_li_only {
	border-width: 1px 0 1px 0 !important;
}
.cell_container .cell_li_left {
	float: left;
	text-align: left;
	position: relative;
	line-height: 32px;
	font-size: 0.95rem;
}

.cell_container .cell_li_top{
	line-height: 15px;
}
.cell_container .cell_li_bottom{
	line-height: 15px;
	margin: 2px 0px -5px 0px;
}

.cell_container .cell_li_right {
	float: right;
	text-align: right;
	position: relative;
	line-height: 32px;
	max-width: 80%;
	font-size: 0.95rem;
}
.cell_li_txt{
	line-height: 18px;	
}

.cell_container .cell_li_btn {
	padding: 8px 16px 8px 8px;
	background-image: url('images/arrow_right.png');
	background-size:15px 12px;
	background-repeat: no-repeat;
	background-position: right center;
}

.cell_container .cell_flex,.cell_container .cell_li_flex {
	display:inline-block;
	vertical-align: middle;
	margin: 0 15px 0 0;
}

.cell_container .cell_li_left_arrow_btn{
	background: url('images/arrow_left.png'),url('images/arrow_right.png'),rgba(255,255,255,.65);
	background-repeat: no-repeat,no-repeat;
	background-position: 8px center,right center;
	background-size:15px 11px,15px 12px;
	padding-left: 30px;
}
.cell_container .cell_li_left_arrow{
	background: url('images/arrow_left.png'),rgba(255,255,255,.65);
	background-repeat: no-repeat,no-repeat;
	background-position: 8px center,right center;
	background-size:15px 11px,15px 12px;
	padding-left: 30px;
}

.detail_table {
	width: 100%;
	text-indent: 0rem;
}

.detail_table tr {
	word-break: break-all;
	border: 0px;
	color: #333;
	font-size: 0.95rem;
}

.detail_table td {
	line-height: 18px;
	vertical-align: baseline;
}

.detail_table .detail_td_left {
	text-align: right;
	width: 34%;
	color: #848484;
	font-weight: normal;
	vertical-align: middle;
}
.detail_table .detail_td_center {
	text-align: center;
	color: #848484;
	width: 1%;
	font-weight: normal;
	vertical-align: middle;
	word-break:break-all;
}

.detail_table .detail_td_right {
	text-align: left;
	width: 65%;
	font-weight: normal;
	vertical-align: middle;
	word-break:break-all;
}

.detail_table .detail_td_single{
	text-align: center;
}

.detail_table .detail_td_line {
	border-top: 1px #ccc dashed;
	width: 100%;
	height: 1px;
}

.detail_table .order_td_left {
	width: 35% !important;
}

.detail_table .order_td_right {
	width: 65% !important;
}

.reminder_container {
	background: rgba(235,220,207,0.65);
	display: block;
	word-break: break-all;
	line-height: 20px;
	width: auto;
	padding: 12px;
	min-height: 32px;
	border: #CBCBCB solid 1px;
	font-size: 0.9rem;
	color: #916034;
	font-weight: normal;
}

.reminder_title {
	font-size: 0.9rem;
	font-weight: normal;
}

.reminder_container ul {
	list-style-type: none;
	font-size: 0.9rem;
}

.reminder_container .reminder_ul_number {
	list-style-type: decimal;
	list-style-position: outside;
	padding-left: 18px;
}

.reminder_container .reminder_ul_circle {
	list-style-type: circle;
	list-style-position: outside;
	padding-left: 18px;
}

.reminder_container li {
	line-height: 18px;
}

.section_datatable{
	padding: 0;
	font-weight: normal;
}
.datatable,.expand_datatable,.datatable_card_style{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.datatable thead tr:first-child{
	text-align:left;
	font-size:0.9rem;	
	font-weight: normal;
	height:22px;
	line-height:22px;
	color:#fff;
	padding:0 5px;
	background-color: rgba(88,89,91,.55);
}
.datatable thead tr:nth-child(2){
	font-size:0.9rem;	
	height:22px;
	line-height:22px;
	color:#58595b;
	background: rgba(231,231,231,.85);
	border-bottom: 1px #aaa solid;
}
.datatable thead tr th{
	padding:2px 5px 0px 5px;
	font-weight: normal;
	line-height: 15px;
}
.datatable tbody tr{
	height: 45px;
	background: white;
	border-bottom:1px #ddd solid;
	font-size: 0.9rem;
	line-height: 1.1rem;
}
.datatable_card_style tbody tr{
	height: 45px;
	background: #F1F1F2;
	border-bottom:0px;
}
.datatable tbody tr:nth-child(odd){
	background: #F1F1F2;
}
.datatable tbody tr td{
	padding: 2px 5px;
	word-break:break-all;
}
.datatable tbody tr td:last-child,.datatable thead tr th:last-child{
	padding-right:13px !important;
}
.datatable tfoot tr td,.expand_datatable tfoot tr td,.datatable_card_style tfoot tr td{
	font-size:0.9rem;	
	height:45px;
	line-height:22px;
	color:#58595b;
	text-align:center;
	background:#fff;
	border-bottom: 1px #ddd solid;
}
.datatable_btn{
	background: url('images/arrow_right1.png') no-repeat right center;
	background-size:12px 12px;
}
.expand_datatable tbody .expand_datatable_tr:nth-child(odd){
	background: rgba(255,255,255,.65);
	height: 45px;
	border-bottom:1px #999 solid;
}
.expand_datatable tbody .expand_datatable_tr:nth-child(even){
	display: block;
	padding:0px 5px 5px 5px;
}
.expand_datatable tbody .expand_datatable_tr:nth-child(odd)>td{
	padding:5px 20px 5px 5px;
	background-image: url('images/arrow_down.png');
	background-size: 17px 12px;
	background-repeat: no-repeat;
	background-position: right center;
}
.expand_datatable tbody .expand_datatable_tr:nth-child(even)>td{
	display: block;
	background: rgba(255,255,255,0.65);
	border-left:1px #999 solid;
	border-right:1px #999 solid;
	border-bottom:1px #999 solid;
	min-height: 50px;
	padding: 5px 5px 10px 5px;
}
.expand_datatable_tr_arrow_up{
	background-image: url('images/arrow_up.png') !important;
	background-size: 17px 12px !important;
	background-repeat: no-repeat !important;
	background-position: right center !important;
}
.expand_datatable_button_container{
	width: 50%;
	margin: 15px auto 0px auto;
	display: -ms-box;
}
.datatable_card_container,.datatable_card_container_btn{
	margin: 5px 10px;
	background: rgba(255,255,255,0.8);
	border: 1px #D9D9D9 solid;
	border-radius:0px;
	min-height: 50px;
	width: auto;
	padding: 5px;	
	position: relative;
}
.datatable_card_container_btn_click{
	opacity:0.5;	
}
.card_sale_logo{
	background: url("images/sale_logo_icon.png") right bottom no-repeat;
	background-size:30px;
	display: block;
	position: absolute;
	right: 0.5px;
	bottom: 0.5px;
	line-height:25px;
	text-align:right;
	color:white;
	width: 30px;
	height: 30px;
	position: absolute;
	font-size: 0.9rem;
}
label{
	font-weight: normal;
	margin: 0;
}
input,button,select{
	line-height: normal;
}
input[type=text],input[type=number],input[type=tel],input[type=password] {
	border: 0px;
	font-size: 0.95rem;
	text-align: right;
	background: transparent;
	height:28px;
	color:#485E9C;
	vertical-align: middle;
}
:-ms-input-placeholder,.placeholder {
	color: #aaa !important;
	direction: rtl;
}

input[type=checkbox],.checkbox {
	width:23px;
	height:23px;
	-ms-appearance: none;
	appearance:none;
	border: 0px;
	background: transparent;
	vertical-align: middle;
}
input[type=checkbox]:checked,.checkbox:checked {
	width:23px;
	height:23px;
	-ms-appearance: none;
	appearance:none;
	border: 0px;
	background: transparent;
	vertical-align: middle;
}

input[type=radio] {
	width: 22px;
	height: 22px;
	-ms-appearance: none;
	border-width: 0px;
	background-size: contain;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

input[type=radio]:checked {
	width: 22px;
	height: 22px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/radio_checked.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
select::-ms-expand{
	display: none;
}
select {
	border-width: 0px;
	padding: 0px;
	min-width: 90px;
	max-width: 270px;
	height: 28px;
	text-align: right;
	background-color: transparent;
	apperance:none;
	font-size: 0.95rem;
	direction: rtl;
	color:#485E9C;
	vertical-align: middle;
}
.selectpanel{
	text-align: right;
	background-color: transparent;
	color:#485E9C;
	vertical-align: middle;	
}

.ebdp-iphone-datePicker,.ebdp-android-datepicker-tipinfo{
	display: inline-block;
	direction: rtl;	
	color:#aaa;
}
.ebdp-android-datepicker-datecolor{
	color:#485E9C !important;
}
.ebdp-iphone-datepicker-datecolor{
	color:#485E9C !important;
}

.switch_button {
	position：relative;
	width: 75px;
	-ms-user-select: none;
}
.switch_button_checkbox {
	display: none;
}
.switch_button_label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 0px;
}
.switch_button_inner {
	width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.switch_button_inner:before, .switch_button_inner:after {
	float: left; width: 50%; height: 25px; padding: 0; line-height: 21px;font-size: 14px; color: white;
	box-sizing: border-box;
	border: 2px solid transparent;
	background-clip: padding-box;
}
.switch_text1:before{
	content: "开" !important;
	padding-right:35px !important;
}
.switch_text1:after{
	content: "关" !important;
	padding-right: 17px !important;
}
.switch_text2:before{
	content: "开通" !important;
	padding-right: 27px !important;
}
.switch_text2:after{
	content: "关闭" !important;
}
.switch_text3:before{
	content: "是" !important;
	padding-right:35px !important;
}
.switch_text3:after{
	content: "否" !important;
	padding-right: 17px !important;
}
.switch_button_inner:before {
	content: "";
	padding-left: 10px;
	background-color: #2E8DEF; color: #FFFFFF;
}
.switch_button_inner:after {
	content: "";
	padding-right: 10px;
	background-color: #CCCCCC; color: #333333;
	text-align: right;
}
.switch_button_switch {
	width: 20px; margin: 0px;
	background: #555;
	position: absolute; top: 0; bottom: 0; right: 55px;
	transition: all 0.3s ease-in 0s; 
}
.switch_button_checkbox:checked + .switch_button_label .switch_button_inner {
	margin-left: 0;
}
.switch_button_checkbox:checked + .switch_button_label .switch_button_switch {
	right: 0px; 
}

.button_container {
	display: block;
	width: 100%;
	text-align: center;
}
.button_more_container {
	display: block;
	width: 100%;
	text-align: center;
}
.button_line_container{
	width: 100%;
	margin: 0 auto;
	text-align: center;	
}
.blue_btn:disabled, .orange_btn:disabled ,.red_btn:disabled ,.normal_btn:disabled ,.gray_btn:disabled {
	background-color:#929296;
}
.blue_btn,.normal_btn {
	font-size: 0.95rem;
	color: #fff;
	background-color:#FF7B7B;
	text-decoration: none;
	padding: 12px;
	border-style: solid;
	border-width: 1px;
	border-color: #840000;
	width: 100%;
}
.red_btn {
	font-size: 0.95rem;
	color: #fff;
	background-color:#BF030D;
	text-decoration: none;
	padding: 12px;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #560105;
	width: 100%;
}
.orange_btn {
	font-size: 0.95rem;
	color: #fff;
	background-color:#F4734A;
	text-decoration: none;
	padding: 12px;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #A5310A;
	width: 100%;
}
.gray_btn {
	font-size: 0.95rem;
	color: #333;
	background-color:#D6D6D8;
	text-decoration: none;
	padding: 12px;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	width: 100%;
}
.gray_small_btn{
	font-size: 0.95rem;
	color: #333;
	background-color:#D6D6D8;
	text-decoration: none;
	padding: 0px 2px;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
}
.gray_small_btn:disabled{
	background-color:#929296;
}
.info_btn {
	width: 20px;
	height: 20px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/info_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;
}
.blue_arrow_btn{
	width: 22px;
	height: 22px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/arrow_btn_wp.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.green_add_btn{
	width: 22px;
	height: 22px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/add_btn_wp.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.red_reduce_btn{
	width: 22px;
	height: 22px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/reduce_btn_wp.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.wrong_btn{
	width: 26px;
	height: 26px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/wrong.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.right_btn{
	width: 26px;
	height: 26px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/right.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.try_btn{
	width: 35px;
	height: 30px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/try_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.contact_btn{
	width: 35px;
	height: 30px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/contact_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.payee_btn{
	width: 35px;
	height: 30px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/payee_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.phone_btn{
	width: 30px;
	height: 30px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/phone_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.map_btn{
	width: 30px;
	height: 30px;
	-ms-appearance: none;
	border-width: 0px;
	background: url("images/map_btn.png") center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 0px 2px;	
}
.info_container {
	display: -ms-box;
	-ms-box-orient: vertical;
	word-break: break-all;
	line-height: 24px;
	width: auto;
	padding: 8px;
	min-height: 140px;
	background: rgba(255,255,255,.65);
	border-top: #CBCBCB solid 1px;
	border-bottom: #CBCBCB solid 1px;
	color: #333;
}
.info_container h3 {
	min-height: 65px;
	width: 100%;
	color: #30609B;
}

.info_container .info_success {
	background-image: url('images/info_success_new.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px;
}

.info_container .info_error {
	background-image: url('images/info_error_new.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px;
}

.info_container .info_tip {
	background-image: url('images/info_tip_new.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 135px;
}

.info_container .info_wait {
	background-image: url('images/info_wait_new.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 165px;
}
.info_container .info_logo{
	text-align: center;
}
.info_container .info_tip_logo {
	background-image: url('images/info_tip_logo_new.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 42px;
	padding-left:50px;
	line-height: 65px;
	font-size: 1.4rem;
	color:#FFCE54;	
	margin: 8px auto;
	width: auto;
	display: inline-block;
}
.info_container .info_error_logo {
	background-image: url('images/info_error_logo_new.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 42px;
	padding-left:50px;
	line-height: 65px;
	font-size: 1.4rem;	
	margin: 8px auto;
	width: auto;
	display: inline-block;
	color:#B0B0B0;
}
.info_container .info_success_logo {
	background-image: url('images/info_success_logo_new.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 42px;
	padding-left:50px;
	line-height: 65px;
	font-size: 1.4rem;
	margin: 8px auto;
	width: auto;
	display: inline-block;
	color:#FF7A7A;
}

.info_container ul {
	list-style-type: none;
	font-size: 0.95rem;
	padding: 0 10px;
	margin-top:10px;
	margin-bottom: 5px;
}

.info_container li {
	line-height: 20px;
	text-indent: 0rem;
	font-weight: normal;
	text-indent: 0rem;
}

.agreement_title {
	height: 41px;
	background-color:rgba(255,255,255,0.65);
	border-top:1px rgba(170,170,170,0.65) solid;
	border-bottom:1px rgba(170,170,170,0.65) solid;	
	padding: 0;
	position: relative;
	text-align: center;
	line-height: 41px;
	overflow: hidden;
}
.agreement_split_line{
	border-top: 1px #AAA dotted;
	line-height: 1px;
	margin: 5px 0;
}
.agreement_container {
	display: -ms-box;
	-ms-box-orient: vertical;
	word-break: break-all;
	line-height: 24px;
	width: auto;
	padding: 8px;
	min-height: 32px;
	background: white;
	color: #333;
}
.agreement_container li{
	list-style: none;
}
.search_bar{
	height:45px;
	background-color:rgba(255,255,255,0.65);
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	overflow: hidden;
	padding:7px 0px 0px 0px;
	display: block;
}
.search_bar .gray_small_btn{
	font-size:0.9rem;
	padding: 0;
	min-width: 50px;
	display: inline-block;
	height: 27px;
	line-height:26px;
	float: right;
	margin-right:2%;
	width: 20%;
}
.search_bar_input{
	float:left;
	margin-left:2%;
	font-size:0.95rem !important;
	border:1px solid #b3b3b3 !important;
	text-align:left !important;
	background:#ffffff !important;
	height:28px !important;
	overflow:hidden !important;
	padding:5px !important;
	direction: ltr !important;
	width: 70%;
}

.popselectpanel_container{
	position: absolute;
	top:0;
	left:0;
	z-index:60;
}
.popbtnpanel_container{
	display: none;
}
.popbtnpanel_inside{
	padding:10px 10px;
}
.popbtnpanel_mask{
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.popbtnpanel_content{
	max-width:600px;
    position: absolute;
    width: 100%;
    border-top: 1px solid #ccc;
    z-index: 99;
    background-color: rgba(125,129,137,0.9);
	background-repeat:no-repeat,no-repeat;
	background-position:left top,left 28px;
	background-size:100% 28px,100% 100%;
}
.popbtnpanel_btn_content{
	border:1px solid #464951;
	background:#464951;
	height:38px;
	padding:1px;
	margin:15px 0px;
}
.popbtnpanel_btn{
	color:#333;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	text-align:center;
	line-height:36px;
	height:36px;
	font-size:1.2rem;
	background: #d3d4d6;
}
.popbtnpanel_close_btn{
	color:white;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	text-align:center;
	line-height:36px;
	height:36px;
	font-size:1.2rem;
	background: #373f47;
}
.dialog_container {
	display: none;
}

.dialog_mask {
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.dialog_content {
	position: absolute;
	z-index: 101;
	display: block;
	padding: 10px 10px 15px 10px;
	background: rgba(255,255,255,1);
	min-height: 30px;
	color: #333;
	margin: 0px;
}

.dialog_content h3 {
	text-align: center;
	font-size: 1.1rem;
	margin: 3px 0px;
}

.dialog_tip {
	text-indent: 2rem;
	margin: 18px 0;
	word-break: break-all;
	line-height: 19px;
}
.purple_middle_icon:before{
	content:"";
	background: url("images/purple_middle.png") left center no-repeat;
	background-size:15px 13px;
	display: inline;
	padding-left:18px;	
}
.green_down_icon:before{
	content:"";
	background: url("images/green_down.png") left center no-repeat;
	background-size:15px 13px;
	display: inline;
	padding-left:18px;	
}
.red_up_icon:before{
	content:"";
	background: url("images/red_up.png") left center no-repeat;
	background-size:15px 13px;
	display: inline;
	padding-left:18px;	
}
.recommend_icon:after{
	content:"";
	background: url("images/recommend_icon.png") left center no-repeat;
	background-size:23px 23px;
	display: inline;
	padding-left:23px;	
}
.new_icon:after{
	content:"";
	background: url("images/new.png") left center no-repeat;
	background-size:23px 23px;
	display: inline;
	padding-left:23px;	
}
.private_icon:after{
	content:"";
	background: url("images/private_icon.png") left center no-repeat;
	background-size:23px 23px;
	display: inline;
	padding-left:23px;	
}
.dynapass_img{
	vertical-align: middle;
	margin-left: 3px;
}
.certpass_txt{
	line-height:20px;
	vertical-align:middle;
	text-indent: 2rem;
	width: 100%;
}
.certpass_txt img{
	display: block;
	margin: 5px auto;
	max-width: 100%;
}
.shakeLoadMore{
	color:#848484;
	font-size:0.85rem;
}
.guide_bar{
	min-height: 55px;
	display: table;
	width: 100%;
	background: url("images/guide_solid_bg_new.png") repeat-x 0px 22px;
}
.guide_info{
	padding: 8px 8px 0px 8px;
	display: table-cell;
	vertical-align: top;
}
.guide_icon{
	width: 30px;
	height: 30px;
	background-color: #F7FBF0;
	border-radius:30px;
	border:2px #9FD367 solid;
	margin:0 auto;
	text-align: center;
	line-height: 28px;
	color: #666;
	font-size: 1rem;
}
.guide_icon_current{
	width: 30px;
	height: 30px;
	background-color: #9FD367;
	border-radius:30px;
	border:2px #9FD367 solid;
	margin:0 auto;
	text-align: center;
	line-height: 28px;
	color: white;
	font-size: 1rem;
}
.guide_tip{
	margin: 0 auto;
	text-align: center;
	margin-top: 5px;
}
.new_guide_bar{
	min-height: 55px;
	display: table;
	width: 100%;
}
.new_guide_info:first-child{
	background-image: -ms-linear-gradient(top,#9FD367,#9FD367 100%);
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size:50% 4px;
}
.new_guide_info:last-child{
	background-image: -ms-linear-gradient(top,#9FD367,#9FD367 100%);
	background-repeat: no-repeat;
	background-position: 0% center;
	background-size:50% 4px;
}
.new_guide_info{
	padding: 14px 0px 8px 0px;
	display: table-cell;
	vertical-align: top;
	background-image: -ms-linear-gradient(top,#9FD367,#9FD367 100%);
	background-repeat: no-repeat;
	background-position: center;
	background-size:100% 4px;
}
.new_guide_info .new_guide_icon{
	width: 28px;
	height: 28px;
	background-color: #9FD367;
	border-radius:28px;
	margin:0 auto;
	text-align: center;
	line-height: 28px;
	color: #fff;
	font-size: 1rem;
}
.new_guide_info_undo:first-child{
	background-image: -ms-linear-gradient(top,#999,#999 100%);
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size:50% 4px;
}
.new_guide_info_undo:last-child{
	background-image: -ms-linear-gradient(top,#999,#999 100%);
	background-repeat: no-repeat;
	background-position: 0% center;
	background-size:50% 4px;
}
.new_guide_info_undo{
	padding: 14px 0px 8px 0px;
	display: table-cell;
	vertical-align: top;
	background-image: -ms-linear-gradient(top,#999,#999 100%);
	background-repeat: no-repeat;
	background-position: center;
	background-size:100% 4px;
}
.new_guide_info_undo .new_guide_icon{
	width: 28px;
	height: 28px;
	background-color: #999;
	border-radius:28px;
	margin:0 auto;
	text-align: center;
	line-height: 28px;
	color: #fff;
	font-size: 1rem;
}
.word_icon{
	background: url("images/word_icon.png") no-repeat 2px 3px;
	background-size:25px 25px;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}
.pdf_icon{
	background: url("images/pdf_icon.png") no-repeat 2px 3px;
	background-size:25px 25px;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}
.attach_icon{
	background: url("images/attach_icon.png") no-repeat 2px 3px;
	background-size:25px 25px;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}
.cell_li_authen_container{
	display: block;	
}
.cell_li_authen{
	display: block;
	width: 100%;
}
.cell_li_authen div{
	float: left;
	width: 50%;
	margin: 4px 0px 4px 0px;
}
#authenQuotaInfoSection{
	display: none;
}
.date_tab{
	display:inline-block;
	-ms-border-radius:10px;
	margin: 0 2px;
	font-size:0.9rem;
	padding:3px 4px;
	border:1px solid #c7000b;
	background-color: #c7000b;
	color:white;
}
.date_tab_click{
	border:1px solid #a9050d;
	background-color:  #a9050d; 
}
.date_tab_container{
	margin-bottom:3px;
	min-height:10px;
	width:100%;
	text-align:center;
}
.link_style {color: blue;text-decoration: underline;}
.vl_mid {vertical-align: middle !important;}
.vl_top {vertical-align: top !important;}
.vl_bottom {vertical-align: bottom !important;}
.il {display: inline !important;}
.flex_box {display: -ms-box !important;}
.flex1 {-ms-box-flex: 1 !important;}
.left_txt {text-align: left !important;}
.right_txt {text-align:right !important;}
.normal_txt {font-weight: normal !important;}
.bold_txt{font-weight: bold !important;}
.small_txt {font-size: 0.95rem !important;}
.large_txt {font-size: 1rem !important;}
.red_txt {color: #C7000B !important;}
.pink_txt {color:#FF7B7B !important;}
.green_txt {color: #009245 !important;}
.blue_txt {color: #36F !important;}
.black_txt {color: #333 !important;}
.gray_txt {color: #848484 !important;}
.disable_txt {color: #aaa !important;}
.indent_txt {text-indent: 2rem !important;}
.no_indent_txt {text-indent: 0rem !important;}
.break_txt{word-break:break-all !important;}
.nowarp_txt{white-space:nowrap !important;}
.hide {	display: none !important;}
.hidden {display: inline !important;visibility:visible !important;}

.radio_small_btn{
	font-size: 0.95rem;
	color: black;
	background-color:white;
	text-decoration: none;
	padding: 0px 2px;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	min-width:50px;
}

.radio_small_btn_checked{
	font-size: 0.95rem;
	color: white;
	background-color:#FF7B7B;
	text-decoration: none;
	padding: 0px 2px;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #FF7B7B;
	min-width:50px;
}
.trade_price_box{
	width: 100%;
}
.trade_price_box div:nth-child(1) span{
	font-size:16px;
}
.trade_price_box div:nth-child(2){
	padding-top:10px; 
	padding-bottom:5px;
}
.trade_price_box div:nth-child(2) span:not(:last-of-type){
	color:#C30007; 
	font-size:32px; 
}
.trade_step_tips{
	color:black;
}
.redNum,.big_red{
	color:red;
	font-size:20px;
}

.bold_text{
	font-weight:bold;
}
.modal_wrapper{
	display: table;
	width: 100%;
	height: 100%;
	margin: 0px auto;
}
.modal-dialog{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0px;
}
.modal-header{
	min-height: 20px;
	text-align: center;	
	padding: 8px;
	font-size: 1.1rem;
	border: 0px;
}
.modal-content{
	margin: 0 15px;
}
.modal-body{
	padding: 5px 18px;
	font-size:0.95rem;
	line-height:1rem;
}
.modal-body-top{
	padding:5px 15px;
	font-size:0.85rem;
}
.modal-body-top .row{
	margin-bottom: 3px;
}
.modal-body-bottom{
	border-top: 1px dashed #e5e5e5;
	padding:5px 10px;
	margin-bottom: -5px;
	font-size:0.85rem;
}
.modal-footer{
	border:0px;
	padding: 0;
	text-align: center;
	display: -ms-flexbox;
}
.modal-btn{
	-ms-flex:1;
	border-top:1px solid #e5e5e5;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	border-radius:0 0 5px 5px;
	font-size: 1.1rem;
	line-height:1.1rem;
	background: transparent;
	-ms-appearance: none;
	padding: 5px;
	display: block;
	min-height:45px; 
	width:100%;
	color:#FF7B7B;
}
.modal-cancel-btn{
	-ms-flex:1;
	border-top:1px solid #e5e5e5;
	border-bottom:0px;
	border-left:0px;
	border-right:1px solid #e5e5e5;
	border-radius:0 0 0 5px;
	font-size: 1.1rem;
	line-height:1.1rem;
	background: transparent;
	-ms-appearance: none;
	padding: 5px;
	display: block;
	min-height:45px; 
	color:#FF7B7B;
}
.modal-ok-btn{
	-ms-flex:1;
	border-top:1px solid #e5e5e5;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	border-radius:0 0 5px 0;
	font-size: 1.1rem;
	line-height:1.1rem;
	background: transparent;
	-ms-appearance: none;
	padding: 5px;
	display: block;
	min-height:45px; 
	color:#FF7B7B;	
}
.modal-cancel-btn:active,.modal-btn:active,.modal-ok-btn:active{
	background: #FF7B7B;
	color:#fff;
}
.modal.fade .modal-dialog {
	opacity: 0;
	-ms-transform: translate3d(0,0,0) scale(1.185);
	-ms-transition-duration:300ms;
	-ms-transition-property: -ms-transform,opacity;	
	-ms-transition-timing-function: ease-out;
	-ms-transition-delay: initial;
}
.modal.in .modal-dialog {
	opacity: 1;
	-ms-transform: translate3d(0,0,0) scale(1);
	-ms-transition-duration:300ms;
	-ms-transition-property: -ms-transform,opacity;	
	-ms-transition-timing-function: ease-out;
	-ms-transition-delay: initial;
}
.popbtnpanel_dialog .list-group-item{
	height: 45px;
	font-size:1rem;
	line-height: 25px;
	color: #607483;
}
.popbtnpanel_close_container{
	display: -ms-box;
	width: 100%;
}
.popbtnpanel_close_btn{
	color:#FF7B7B;
	text-align:center;
	line-height:1rem;
	height:40px;
	border:0;
	border-radius: 4px;
	font-size:1rem;
	background: white;
	display: block;
	width: 100%;
}
.popbtnpanel_close_btn_click{
	background: #FF7B7B;
	color: white;
}
.datepicker_dialog{
	position: absolute;
	top:15%;
	left: 0;
	width: 100%;
}
.datepicker_dialog .datepicker-inline{
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	border: 1px solid #aaa;
	border-radius:6px;
	padding: 8px;
	width: 290px;
	line-height: 22px;
}
.datepicker_dialog .datepicker .table-condensed{
	width: 100%;
}
.datepicker_txt{
	display: inline-block;
	direction: rtl;	
	color:#aaa;
}
.datepicker_datecolor{
	color:#607483 !important;
}

/*自定义button 样式 **/
.disabledButton
{
    display: inline-block;
    width: auto;
    margin-left:0px;
    margin-right: 0px;
    font-size: 13px;
    color:#b4cad2;
    text-align: center;
    opacity: .50;
}
.customButton
{
	border:none;
	background-color: Transparent;
}

/*tab面板 切换 样式 **/
.table_panel {
	background: #fff;line-height: 1.4;
}
.table_panel ul {
	text-align:center;
}
.table_panel ul li {
	float:left;display:block;
	cursor:pointer;
	width:50%;padding: 0.5rem;
	  background-color:#fff;
	  border:1px solid #E8E8E8;
}

.table_panel  .table_panel_tab_click {
	  border-top: 3px solid #CDD1d4!important;
	  border:1px solid #fff;
}
.table_panel  .table_panel_tab {
	  border-top: 3px solid #fff!important;
}
.table_panel ul li:active{
		opacity:0.5;
}
