<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	ConformitySXFH</display-name>
	<welcome-file-list>
		<welcome-file>wapmain.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.icbc.conformity.listener.MySessionListener</listener-class>
	</listener>
		<servlet>
		<description>
		</description>
		<display-name>DataHandlerServlet</display-name>
		<servlet-name>DataHandlerServlet</servlet-name>
		<servlet-class>com.icbc.jsfh.stcard.DataHandlerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConnectMapsServlet</display-name>
		<servlet-name>ConnectMapsServlet</servlet-name>
		<servlet-class>com.icbc.jsfh.stcard.ConnectMapsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>YytServlet</display-name>
		<servlet-name>YytServlet</servlet-name>
		<servlet-class>com.icbc.jsfh.yyt.YytServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ICBCEPayServlet</display-name>
		<servlet-name>ICBCEPayServlet</servlet-name>
		<servlet-class>com.icbc.jsfh.common.ICBCEPayServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>XKServlet</display-name>
		<servlet-name>XKServlet</servlet-name>
		<servlet-class>com.icbc.jsfh.xkgjj.XKServlet</servlet-class>
	</servlet>
	<servlet>
	    <description></description>
	    <display-name>XzServlet</display-name>
	    <servlet-name>XzServlet</servlet-name>
	    <servlet-class>com.icbc.jsfh.xzgjj.XzServlet</servlet-class>
  	</servlet>
  	<servlet>
	    <description></description>
	    <display-name>GyrxServlet</display-name>
	    <servlet-name>GyrxServlet</servlet-name>
	    <servlet-class>com.icbc.jsfh.gyrx.GyrxServlet</servlet-class>
  	</servlet>
  	<servlet>
		<description>
		</description>
		<display-name>NjsbServlet</display-name>
		<servlet-name>NjsbServlet</servlet-name>
		<servlet-class>com.icbc.jsfh.njsbdqd.NjsbServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HDServlet</display-name>
		<servlet-name>HDServlet</servlet-name>
		<servlet-class>com.icbc.jsfh.hdjt.HDServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataHandlerServlet</servlet-name>
		<url-pattern>/KTCard/DataHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectMapsServlet</servlet-name>
		<url-pattern>/KTCard/ConnectMaps</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>YytServlet</servlet-name>
		<url-pattern>/YYT/YytServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ICBCEPayServlet</servlet-name>
		<url-pattern>/common/ICBCEPayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XKServlet</servlet-name>
		<url-pattern>/XKGJJ/XKServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>XzServlet</servlet-name>
	    <url-pattern>/XZGJJ/XzServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>GyrxServlet</servlet-name>
	    <url-pattern>/GYRX/GyrxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>NjsbServlet</servlet-name>
	    <url-pattern>/NJSB/NjsbServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HDServlet</servlet-name>
		<url-pattern>/HDJT/HDServlet</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>icbc-client-tag</taglib-uri>
			<taglib-location>/WEB-INF/icbc-client-tag.tld</taglib-location>
		</taglib>
	</jsp-config>	
</web-app>
