.textInfo {
    position: absolute;
    text-align: left;
    font-size: 0.9rem;
    color: #fff;
    top: -15px;
    padding: 2px 5px;
    border-radius: 6px;
    background: -webkit-gradient(linear, center top, center bottom, from(#ff9900),to(#ff9900));
    background-color:#ffcc00;
	z-index:2;
}
.tab{
	display:inline-block;
	-webkit-border-radius:3px;
	margin: 2px 5px;
	font-size:0.75em;
	padding:6px;
}
.line {
	position: absolute;
	width: 2px;
	top: 10px;
	z-index:1;
	background-color: #ff9900;
}
.point {
	border-radius:10px;
	position: absolute;
	width: 10px;
	height: 10px;
	margin-left:1px;
	background-color: #ff9900;
}
.select-circular{
	border-radius:4px;
	background-color:#ED5110;
	color:#FFFFFF;
	text-align: center;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.unsel-circular{
	border-radius:4px;
	background-color:#B7B7B7;
	color:#fff;
	text-align: center;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.loading{
	padding:3px 0px;
	text-align:center;
	width:auto;
	font-size: 0.8em;
	text-overflow: ellipsis;
	color:#666;
	background: #fff;
}
.parentCanvas{
	margin-bottom:3px;
	min-height:10px;
	width:100%;
	text-align:center;
}
.dispic{
	padding:5px 0px;
	background:#fff;
}
.chartViewSmall{}
.chartViewFull{
	position:absolute;
	background:#ffffff;
	top:0;
	left:0;
	width:auto;
}
.nodata{
	text-align:center;
	width:auto;
	font-size: 0.8em;
	text-overflow: ellipsis;
	color:#666;
}
#fullCanvas{
	width: 100%;
}